/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


.banner{
	
	font-size: 30px;
	height: 300 px;
	background-color: snow;
}

.navbar{
	
	height: 100px;
}

.content{
	
	margin-top: 100px;
	text-align: center;
	
}
.user-status {
	
	font-size: 15px;
	margin-top:25px;
	float: right;
	text-color: white;
}

.user-action a{
	
	color:white;
	width:100%;
	display: block;
	text-decoration: none;
	padding: 5px 20px;
	
}
.btn{
	
	padding: 0px 0px;
	border-radius: 10px;
}
.container{
	
	margin-top: 100px;
}